<section class="tribu-container">
  <h2>¿Tienes una empresa?</h2>
  <p class="subtext">
    Contáctanos y conoce la oferta para empresas. ¡Nos adaptamos a tus necesidades para potenciar a tus talentos!
  </p>

  <button class="contact-button">Habla con nosotros</button>

  <div class="carousel-media">
    <video controls>
      <source src="assets/video/tribuCOHACER.mp4" type="video/mp4">
      Tu navegador no soporta el tag de video.
    </video>
    <div class="info">
      <h3>Tribu COHACER - Gana promoviendo educación.</h3>
      <p>Comparte oportunidades educativas y obtén comisiones crecientes.</p>
      <button class="start-button">Iniciar ahora</button>
    </div>
  </div>
</section>
