<footer class="footer">
  <div class="footer-top">
    <img src="assets/icon.png" alt="Cohacer Logo" class="logo" />
    <p class="footer-title">
      Consejo Hispano de Acreditación y Certificación COHACER S.C.
    </p>
    <div class="social-icons">
      <a href="https://www.facebook.com/cohacer.unidho" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/cohacer_unidho/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.tiktok.com/@cohacer" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
      <a href="https://www.linkedin.com/company/unidho/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://x.com/unidho" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.youtube.com/@cohacer.unidho" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </div>

  <div class="footer-addresses">
    <div class="address-card">
      <h4>CDMX</h4>
      <p>Montecito 38, Nápoles,<br> Benito Juárez, 03810<br> WTC-CDMX piso 34 oficina 13</p>
      <a href="tel:5586617065">55 8661 7065</a>
    </div>
    <div class="address-card">
      <h4>Puebla</h4>
      <p>Circuito Juan Pablo II<br>No. 3106, interior 2,<br>El Vergel, 72400, Puebla</p>
      <a href="tel:2226443941">222 644 3941</a>
    </div>
    <div class="address-card">
      <h4>Querétaro</h4>
      <p>C. Ignacio Pérez sur,<br>No. 49, interior 2,<br>El carrizal, 76030 Santiago de Querétaro, Qro</p>
      <a href="tel:4426839695">442 683 9695</a>
    </div>
  </div>

  <div class="footer-bottom">
    <a href="assets/htmlstatic/avisodeprivacidad.html"  target="_blank" rel="noopener noreferrer">Aviso de privacidad</a>
    <a href="assets/htmlstatic/terminosycondiciones.html" target="_blank" rel="noopener noreferrer">Términos y condiciones</a>
    <span>© 2025 COHACER. Todos los derechos reservados.</span>
  </div>
</footer>
