<div class="institucion-container">
  <h2 class="titulo">Institución hermana</h2>

  <div class="logo-container">
    <img src="assets/colegioIsem.png" alt="Logo ICEM">
  </div>

  <div class="contenedor-video">
    <div class="texto">
      <h3>¡Juntos damos grandes pasos!</h3>
      <p>
        Esfuerzos que se convierten en miles de sueños realizados. ¡Gracias!
      </p>
    </div>
    <div class="video">
      <video
        controls
        poster="assets/poster1.png"
        src="https://storage.googleapis.com/cohacer-region/Prueba/video_mencion_fundacion_cohacer.mp4"
      ></video>
    </div>
  </div>
</div>