.loading,
.error {
  margin: 1rem;
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

button {
  background-color: #fbbc04;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
