.clientes-section {
  max-width: 1100px;
  margin: auto;
  padding: 0rem;
  text-align: center;

  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #333;
  }

  .clientes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1rem;
    justify-items: center;
    align-items: center;

    img {
      max-width: 210px;
      height: auto;
      object-fit: contain;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .y-mas {
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: #333;
  }
}
